.meanings {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 55vh;
  border: 5px solid rgb(105, 105, 105);
  box-shadow: 0px 0px 10px 1px rgb(255, 218, 218);
  border-radius: 10px;
  padding: 10px 20px;
  overflow-x: hidden;
}

.subTitle {
  font-size: 4vw;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 900px) {
  .meanings {
    overflow: scroll;
    overflow-x: hidden;
    height: 60vh;
  }
}
.singleMean {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 8px 15px;
  margin: 8px 0;
}
